@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flip-card {
    width: 9.25rem;
    height: 8.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 2px hsl(234, 17%, 12%);
  }

  .top,
  .bottom,
  .flip-card .top-flip,
  .flip-card .bottom-flip {
    width: 100%;
    height: 50%;
    font-size: 4.5rem;
    line-height: 1;
    overflow: hidden;
    border-radius: 0.5rem;
    color: hsl(345, 95%, 68%);
    font-weight: 700;
    text-align: center;
    display: block;
  }

  .top,
  .flip-card .top-flip {
    background-color: hsl(235, 16%, 14%);
    border-top-right-radius: 0.1em;
    border-top-left-radius: 0.1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .bottom,
  .flip-card .bottom-flip {
    background-color: hsl(236, 21%, 26%);
    border-bottom-right-radius: 0.1em;
    border-bottom-left-radius: 0.1em;
  }

  .flip-card .top-flip {
    position: absolute;
    width: 100%;
    animation: flip-top 250ms ease-in;
    transform-origin: bottom;
  }

  @keyframes flip-top {
    100% {
      transform: rotateX(90deg);
    }
  }

  .flip-card .bottom-flip {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: flip-bottom 250ms ease-out 250ms;
    transform-origin: top;
    transform: rotateX(90deg);
  }

  @keyframes flip-bottom {
    100% {
      transform: rotateX(0deg);
    }
  }
}
