@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .timer-top {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
  .timer-bottom {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  }

  .flip-timer-top {
    animation: flip-timer-top 1000ms linear alternate infinite;
    transform-origin: center;
  }

  .flip-top-to-bottom {
    animation: flip-top-to-bottom 1000ms linear alternate infinite;
    transform-origin: center;
  }

  @keyframes flip-timer-top {
    from {
      transform: rotateX(180deg);
    }
    to {
      transform: rotateX(0deg);
    }
  }

  @keyframes flip-top-to-bottom {
    from {
      transform: rotateX(180deg);
    }
    to {
      transform: rotateX(0deg);
      z-index: 10;
    }
  }
}
